.Dashboard{
    display: flex;
   max-height: 100vh;
   height: 100vh;
    background: #848484;
}

.cht{
    display: flex;
    justify-content: space-between;
}

.sidebarcontainer{
    border: #00ff00 3px solid;
    padding: 0 10px ;
    flex-direction: column;
    display: flex;
    /* overflow-y: scroll; */
    max-width: 290px;
    /* align-items: center; */
    background: #151313;
    /* justify-content: center; */
    width: 290px;
}
.body{
    text-align: center;
    flex: 1;
    margin: 2px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border: #00ff00 3px solid;
}