.sidebarbuttom{
    height: 40%;
    width: 100%;
    background: green;
    color: antiquewhite;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    position: relative;
    bottom: 0;
    
}