.searchInput{
    /* width:100%; */
    background:#292424;
    border: none;
    border-radius: 20px;
    height: 20px;
    padding: 6px ;
    margin-bottom: 20px ;
}
.resultdiv{
    padding: 10px;
    display: flex;
   border-radius: 20px;
}

.resultdiv small{
    display: flex;
    margin-left: 10px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.resultdiv img{
    border-radius: 20px;
}
.localMusic{
    color: #fff;
    border: #292424 3px solid;
}
.resultdiv:hover{
  box-shadow: 2px 2px 3px #fff;
  transition: all 2s;
    /* height: ; */
}
.SlideBar-img{
    height: 40px;
    display: flex;
    width: auto;
    border-radius: 10px;
}
.cht{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.searchForm{
    /* display: flex; */
    margin-top: 20px;
    color: aliceblue;
   min-height: 50%;
   height: 50%;
    position: relative;
}